black
flake8
furo
ipython
ipywidgets
isort
jupyterlab
matplotlib
pandas
plotly
pre-commit
pystan==2.19.1.1
prophet
pytest
pytest-cov
pytest-mock
python-dotenv
requests
sklearn
streamlit
streamlit-aggrid
toml
wheel
yml
