black
flake8
ipython
isort
jupyterlab
pytest-cov
pytest-mock
pytest
wheel
furo
pandas
pystan=2.19.1.1
prophet
plotly
ipywidgets
python-dotenv
yml
sklearn
streamlit
requests
matplotlib
streamlit-aggrid